p {
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
border: 1px solid rgb(133, 29, 29); 
border-radius: 5pt;
margin-left: 301px;
margin-right: 317px;
margin-top: 0;
text-align: center;
width: 900px;
height: 211.49px;
padding-top: 5px;
}